fastapi
uvicorn[standard]
python-multipart
Pillow
google-generativeai
pydantic-settings
pdf2image
fastapi-cors
splitwise
psycopg2-binary
SQLAlchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0